<a href="https://colab.research.google.com/github/OkeyOc/Home_Sales/blob/main/Home_Sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.4.0'
spark_version = 'spark-3.5.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:2 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:3 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:4 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done

In [ ]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [ ]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True)
df.show(10)

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 10 rows

In [ ]:
# 2. Create a temporary view of the DataFrame.
df.createOrReplaceTempView('home_sales')

In [ ]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
four_bedroom_houses = spark.sql("SELECT ROUND(AVG(price), 2) AS AVERAGE_PRICE, YEAR(date) AS YEAR FROM home_sales WHERE bedrooms = 4 GROUP BY YEAR ORDER BY YEAR DESC")
four_bedroom_houses.show()

+-------------+----+
|AVERAGE_PRICE|YEAR|
+-------------+----+
|    296363.88|2022|
|    301819.44|2021|
|    298353.78|2020|
|     300263.7|2019|
+-------------+----+

In [ ]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?
three_bed_three_bath_house = spark.sql("SELECT ROUND(AVG(price), 2) AS AVERAGE_PRICE, YEAR(date_built) AS YEAR FROM home_sales WHERE bedrooms = 3 AND bathrooms = 3 GROUP BY YEAR(date_built) ORDER BY YEAR DESC")
three_bed_three_bath_house.show()

+-------------+----+
|AVERAGE_PRICE|YEAR|
+-------------+----+
|    292676.79|2017|
|    290555.07|2016|
|     288770.3|2015|
|    290852.27|2014|
|    295962.27|2013|
|    293683.19|2012|
|    291117.47|2011|
|    292859.62|2010|
+-------------+----+

In [ ]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?
three_bed_three_bath_2flr_2000sqft = """
SELECT ROUND(AVG(price), 2) AS AVERAGE_PRICE, YEAR(date_built) AS YEAR_BUILT
FROM home_sales
WHERE bedrooms = 3
AND bathrooms = 3
AND floors = 2
AND sqft_living >= 2000
GROUP BY YEAR_BUILT
ORDER BY YEAR_BUILT DESC
"""
spark.sql(three_bed_three_bath_2flr_2000sqft).show()

+-------------+----------+
|AVERAGE_PRICE|YEAR_BUILT|
+-------------+----------+
|    280317.58|      2017|
|     293965.1|      2016|
|    297609.97|      2015|
|    298264.72|      2014|
|    303676.79|      2013|
|    307539.97|      2012|
|    276553.81|      2011|
|    285010.22|      2010|
+-------------+----------+

In [ ]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating.
# Although this is a small dataset, determine the run time for this query.

start_time = time.time()
price350000_homes_per_view = """
SELECT ROUND(AVG(price), 2) AS AVERAGE_PRICE, view
FROM home_sales
GROUP BY view
HAVING ROUND(AVG(price), 2) >= 350000
"""
spark.sql(price350000_homes_per_view).show(12)

print("--- %s seconds ---" % (time.time() - start_time))

+-------------+----+
|AVERAGE_PRICE|view|
+-------------+----+
|    788128.21|  51|
|    798684.82|  54|
|    750537.94|  69|
|    1072285.2|  87|
|    752861.18|  73|
|    767036.67|  64|
|     791453.0|  59|
|   1056336.74|  85|
|    733780.26|  52|
|     775651.1|  71|
|   1053739.33|  98|
|   1061201.42|  99|
+-------------+----+
only showing top 12 rows

--- 0.8137683868408203 seconds ---

In [ ]:
# 7. Cache the the temporary table home_sales.
spark.sql('cache table home_sales')

DataFrame[]

In [ ]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [ ]:
# 9. Using the cached data, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the uncached runtime.

start_time = time.time()

price350000_homes_per_view = """
SELECT ROUND(AVG(price), 2) AS AVERAGE_PRICE, view
FROM home_sales
GROUP BY view
HAVING ROUND(AVG(price), 2) >= 350000
"""
spark.sql(price350000_homes_per_view).show()
print("--- %s seconds ---" % (time.time() - start_time))

+-------------+----+
|AVERAGE_PRICE|view|
+-------------+----+
|    788128.21|  51|
|    798684.82|  54|
|    750537.94|  69|
|    1072285.2|  87|
|    752861.18|  73|
|    767036.67|  64|
|     791453.0|  59|
|   1056336.74|  85|
|    733780.26|  52|
|     775651.1|  71|
|   1053739.33|  98|
|   1061201.42|  99|
|   1017815.92|  96|
|    1026669.5| 100|
|    695865.58|  70|
|    746877.59|  61|
|   1114042.94|  75|
|   1080649.37|  78|
|   1107839.15|  89|
|   1076205.56|  77|
+-------------+----+
only showing top 20 rows

--- 0.7036678791046143 seconds ---

In [ ]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
df.write.partitionBy('date_built').parquet('home_sales_parquet', mode='overwrite')

In [ ]:
# 11. Read the parquet formatted data.
parquet_df = spark.read.parquet('home_sales_parquet')
parquet_df

DataFrame[id: string, date: string, price: string, bedrooms: string, bathrooms: string, sqft_living: string, sqft_lot: string, floors: string, waterfront: string, view: string, date_built: int]

In [ ]:
# 12. Create a temporary table for the parquet data.
parquet_df.createOrReplaceTempView('temp_home_sales_parquet')

In [ ]:
# 13. Using the parquet DataFrame, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the cached runtime.

start_time = time.time()
price350000_homes_per_view = """
SELECT ROUND(AVG(price), 2) AS AVERAGE_PRICE, view
FROM home_sales
GROUP BY view
HAVING ROUND(AVG(price), 2) >= 350000
"""
spark.sql(price350000_homes_per_view).show()

print("--- %s seconds ---" % (time.time() - start_time))

+-------------+----+
|AVERAGE_PRICE|view|
+-------------+----+
|    788128.21|  51|
|    798684.82|  54|
|    750537.94|  69|
|    1072285.2|  87|
|    752861.18|  73|
|    767036.67|  64|
|     791453.0|  59|
|   1056336.74|  85|
|    733780.26|  52|
|     775651.1|  71|
|   1053739.33|  98|
|   1061201.42|  99|
|   1017815.92|  96|
|    1026669.5| 100|
|    695865.58|  70|
|    746877.59|  61|
|   1114042.94|  75|
|   1080649.37|  78|
|   1107839.15|  89|
|   1076205.56|  77|
+-------------+----+
only showing top 20 rows

--- 0.43555116653442383 seconds ---

In [ ]:
# 14. Uncache the home_sales temporary table.
spark.sql('uncache table home_sales')

DataFrame[]

In [ ]:
# 15. Check if the home_sales is no longer cached

spark.catalog.isCached('home_sales')

False